*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
}
.big-box{
    background: #000000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 40px;
    width: 95%;
    max-width: 450px;
}
.input-city{
    border: none;
    outline: none;/* borda quando seleciona o elemento */
    padding: 10px;
    border-radius: 25px;
    font-size: 18px;
    background-color: #9d97972b;
    color: #ffffff;
    width: calc(100% - 100px);
}
button{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c6b;
    cursor: pointer;
    float: right;
    
}
button:hover{
    background-color: #90afbc93;
}
.media-box{
    margin-top: 30px;
}
.short-box{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.lupa{
    width: 25px;
    
}
.temp{
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
}
.description{
    color: #ffffff;
    margin-left: 20px;
    text-transform: capitalize;
}
.city{
    color:#ffffff;
    font-size: 28px;
    font-weight: 400;
}
.humidity{
    color: #ffffff;
    margin-top: 30px;
}
